body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Start old */
/* Header */

/* .header {
    width: 252px;
    height: 572px;
    top: 17px;
    left: 33px;
    gap: 59px;
    margin-top: 17px;
    margin-left: 33px;
}*/

.header .search-bar {
    width: 133px;
    height: 58px;
    /* min-width: 119px; */
    /* margin-top: 59px;
    padding: 0 20px; */
}

/* SideBar */

/* .header .image-logo {
    width: 133px;
    height: 58px;
} */

/* .sidebar .image-div {
    width: 133px;
    height: 58px;
} */

/* .sidebar .nav-div {
    width: Hug (252px);
    height: Hug (289px);
    gap: 8px;
    margin-top: 59px;
} */

.sidebar {
    width: 252px;
    height: 572px;
    top: 17px;
    left: 30px;
    gap: 59px;
    margin-top: 10px;
}
/* .sidebar {
    padding-top: 17px;
    padding-left: 33px;
    width: 252px;
    height: 572px;
} */

/* .sidebar-nav {
    width: Hug (252px);
    height: Hug (289px);
    padding: 0;
    margin: 0;
    list-style: none;
} */

/*
.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: Fixed (252px);
    height: 56px;
}*/

/* .sidebar-nav .a {
    transition: 0.3;
    background: #ffb800;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
} */

/*
.sidebar-nav .span-text {
    display: flex;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    align-items: center;
}
*/

/* .sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
} */

.sidebar-nav .div-icon {
    width: 24px;
    height: 24px;
    padding: 1.9760680198669434px 2.999967098236084px 2.000000476837158px 2.9999051094055176px;
    margin-left: 27px;
    margin-right: 15px;
}
/* New */
/* .sidebar-nav .nav-link.collapsed {
    color: #1e0d03;
    background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
    color: #b9bd89;
}
*/
.sidebar-nav .nav-link:hover {
    color: #fff;
    background: #ffb800;
    border-radius: 10px;
    font-size: medium;
}
.sidebar-nav .nav-link:hover svg path {
    fill: #fff;
}
/*
.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #cfe412;
    transition: 1;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #aed418;
}

.sidebar-nav .nav-content a.active i {
    background-color: #f9f50c;
}

.sidebar-nav .nav-icon {
    width: 18.0001277923584px;
    height: 20.0239315032959px;
    top: 1.97607421875px;
    left: 2.9998779296875px;
}

.content {
    margin-top: 0;
    margin-left: 500px;
} */

/* End old */

/* New */

body {
    font-family: 'Open Sans', sans-serif;
    background: #f6f9ff;
    color: #444444;
}

a {
    color: #4154f1;
    text-decoration: none;
}

a:hover {
    color: #717ff5;
    text-decoration: none;
}

/*--------------------------------------------------------------
  # Override some default Bootstrap stylings
  --------------------------------------------------------------*/
/* Dropdown menus */
.dropdown-menu {
    border-radius: 4px;
    padding: 10px 0;
    -webkit-animation-name: dropdown-animate;
    animation-name: dropdown-animate;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(82, 63, 105, 0.2);
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
    text-align: center;
    font-size: 15px;
    padding: 10px 25px;
}

.dropdown-menu .dropdown-footer a {
    color: #444444;
    text-decoration: underline;
}

.dropdown-menu .dropdown-footer a:hover {
    text-decoration: none;
}

.dropdown-menu .dropdown-divider {
    color: #a5c5fe;
    margin: 0;
}

.dropdown-menu .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.dropdown-menu .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #f6f9ff;
}

@media (min-width: 768px) {
    .dropdown-menu-arrow::before {
        content: '';
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -7px;
        right: 20px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }
}

@-webkit-keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@keyframes dropdown-animate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

/* Light Backgrounds */
.bg-primary-light {
    background-color: #cfe2ff;
    border-color: #cfe2ff;
}

.bg-secondary-light {
    background-color: #e2e3e5;
    border-color: #e2e3e5;
}

.bg-success-light {
    background-color: #d1e7dd;
    border-color: #d1e7dd;
}

.bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-warning-light {
    background-color: #fff3cd;
    border-color: #fff3cd;
}

.bg-info-light {
    background-color: #cff4fc;
    border-color: #cff4fc;
}

.bg-dark-light {
    background-color: #d3d3d4;
    border-color: #d3d3d4;
}

/* Breadcrumbs */
.breadcrumb {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #899bbd;
    font-weight: 600;
}

.breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
}

.breadcrumb a:hover {
    color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
    color: #899bbd;
}

.breadcrumb .active {
    color: #51678f;
    font-weight: 600;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

/* .header {
    position: relative;
    transition: all 0.5s;
    z-index: 300;
    height: 70px;
    background-color: #f8f9fa;
    padding-left: 33px;
    padding-top: 17px;
} */

.header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}

.header .search-bar {
    min-width: 250px;
    padding-left: 260px;
}

.header .search {
    margin-left: 130px;
}

@media (max-width: 1199px) {
    .header .search-bar {
        position: relative;
        /* top: 50px; */
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }

    .header .search-bar-show {
        top: 60px;
        visibility: visible;
        opacity: 1;
    }
}

.header .search {
    width: 40%;
}

.header .search-form input {
    border: 0;
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.header .search-form input:focus,
.header .search-form input:hover {
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}

.header .search-form button {
    border: 0;
    padding: 0;
    margin-left: -70px;
    background: none;
}

.header .search-form button i {
    color: #012970;
}

/*--------------------------------------------------------------
  # Sidebar
  --------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 77px;
    left: 0;
    bottom: 0;
    background-color: #f8f9fa;
    width: Hug (252px);
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    /* box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1); */
    /* background-color: #fff; */
}

@media (max-width: 1199px) {
    .sidebar {
        left: -300px;
    }
}

@media (min-width: 1200px) {
    #main,
    #footer {
        margin-left: 300px;
    }
}

@media (max-width: 1199px) {
    .toggle-sidebar .sidebar {
        left: 0;
    }
}

@media (min-width: 1200px) {
    .toggle-sidebar #main,
    .toggle-sidebar #footer {
        margin-left: 0;
    }

    .toggle-sidebar .sidebar {
        left: -300px;
    }
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
    font-size: 11px;
    text-transform: uppercase;
    /* color: #899bbd; */
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #1e0d03;
    transition: 0.3;
    background: #1e0d03;
    padding: 10px 15px;
    border-radius: 4px;
}

.sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
}
/* check */
.sidebar-nav .nav-link.collapsed {
    color: #1e0d03;
    background: #f8f9fa;
}
/* check */
.sidebar-nav .nav-link.collapsed i {
    color: #fff;
}
/* check */
.sidebar-nav .nav-link:hover,
.sidebar-nav .nav-link a.active {
    color: #fff;
    background: #ffb800;
}

.sidebar-nav .span {
    margin-left: 60px;
}

.sidebar-nav .nav-link:hover i {
    color: #fff;
}

.sidebar-nav .nav-link .bi-chevron-down {
    margin-right: 0;
    transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
    transform: rotate(180deg);
}

.sidebar-nav .nav-content {
    padding: 5px 0 0 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #ee1414;
    transition: 0.3;
    padding: 10px 0 10px 40px;
    transition: 0.3s;
}

.sidebar-nav .nav-content a i {
    font-size: 6px;
    margin-right: 8px;
    line-height: 0;
    border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
    color: #1e0d03;
}

.sidebar-nav .nav-content a.active i {
    background-color: #1e0d03;
}

/*--------------------------------------------------------------
  # Dashboard
  --------------------------------------------------------------*/
/* Filter dropdown */
.dashboard .filter {
    position: absolute;
    right: 0px;
    top: 15px;
}

.dashboard .filter .icon {
    color: #aab7cf;
    padding-right: 20px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
    color: #4154f1;
}

.dashboard .filter .dropdown-header {
    padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #aab7cf;
    margin-bottom: 0;
    padding: 0;
}

.dashboard .filter .dropdown-item {
    padding: 8px 15px;
}

/* Activity */
.dashboard .activity {
    font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
    color: #888;
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
    content: '';
    position: absolute;
    right: -11px;
    width: 4px;
    top: 0;
    bottom: 0;
    background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
    margin-top: 3px;
    z-index: 1;
    font-size: 11px;
    line-height: 0;
    border-radius: 50%;
    flex-shrink: 0;
    border: 3px solid #fff;
    flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
    padding-left: 10px;
    padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
    top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
    padding-bottom: 0;
}

/*--------------------------------------------------------------
  # Icons list page
  --------------------------------------------------------------*/
.iconslist {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.25rem;
    padding-top: 15px;
}

.iconslist .icon {
    background-color: #fff;
    border-radius: 0.25rem;
    text-align: center;
    color: #012970;
    padding: 15px 0;
}

.iconslist i {
    margin: 0.25rem;
    font-size: 2.5rem;
}

.iconslist .label {
    font-family: var(--bs-font-monospace);
    display: inline-block;
    width: 100%;
    overflow: hidden;
    padding: 0.25rem;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}

/* Content */
.content {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e0d03;
    width: 276px;
    height: 60px;
    padding-top: 5px;
    padding-left: 20px;
}

/* Search */
.header .search {
    height: 40px;
    background-color: #ede6e6;
    padding-left: 100px;
}

.classes.textField::placeholder {
    font-style: italic;
}

.header .mail-icon {
    margin-left: 350px;
    padding: 0 24px 24px 0;
    width: 24px;
    height: 24px;
    opacity: 10px;
}

.header .bell-icon {
    padding: 0 24px 24px 0;
    width: 24px;
    height: 24px;
    opacity: 0.800000011920929px;
}

.header .img-avata {
    padding: 0 0 13px 0;
    width: 40px;
    height: 40px;
}

/* Antd */
.container {
    height: 87vh;
    background-color: #ffffff;
}

.top {
    height: 70px;
    padding-left: 33px;
    padding-top: 17px;
    padding-right: 0;
}
.image-logo {
    width: 115px;
    height: 47px;
}

.icon {
    display: inline;
    margin-left: 525px;
}

.icon .mail-icon {
    width: 24px;
    height: 24px;
    opacity: 10px;
    margin-bottom: 7px;
}

.icon .bell-icon {
    margin: 0 0 0 27px;
    opacity: 0.800000011920929px;
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
}

.icon .img-avata {
    margin: 0 0 30px 24px;
    width: 40px;
    height: 40px;
}
.sider {
    background-color: rgb(249, 247, 247);
}

.content {
    margin-right: 20px;
}

.nav-icon {
    margin-right: 12px;
}
.button {
    width: Hug (127px);
    height: Fixed (48px);
}

.button .text-button {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
}

.text-table-button {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    color: #ff993c;
}

.button .icon-button {
    width: 20px;
    height: 18px;
    margin-right: 12px;
    margin-top: 9px;
}

.pagination-center {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

/* Modal */
.modal-title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e0d03;
}

.modal-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e0d03;
}

/* Side Đối soát vé */
.side-title {
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    width: 100px;
    height: 30px;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 35px;
}

.side-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #1e0d03;
    width: 156px;
    height: 26px;
    margin-top: 32px;
    margin-left: 20px;
    opacity: 0.800000011920929px;
}

/* CustomRadio.css */
.custom-radio .ant-radio-wrapper {
    background-color: #27aef9;
    border-color: #27aef9;
}

.custom-radio .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: #27aef9;
}

.custom-radio .ant-radio-checked .ant-radio-inner {
    background-color: #27aef9;
    border-color: #27aef9;
}

.custom-radio .ant-radio-checked::after {
    border-color: #27aef9;
}

.custom-radio .ant-radio-inner {
    padding: auto;
}

.custom-radio .ant-radio-inner::after {
    display: none;
}

.text-button {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
}

:where(.css-dev-only-do-not-override-18iukpe).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-18iukpe).ant-menu-light > .ant-menu .ant-menu-item-selected {
    background-color: #ffb800;
}

:where(.css-dev-only-do-not-override-18iukpe).ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-18iukpe).ant-menu-light > .ant-menu .ant-menu-item-selected {
    color: white;
    font-size: medium;
}

/* Table */
.custom-table .ant-table-thead > tr > th {
    background-color: #f1f4f8; /* Màu nền tiêu đề */
    color: #1e0d03; /* Màu chữ tiêu đề */
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.text-table {
    font-family: Montserrat;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
}

.custom-table .ant-table-tbody > tr:nth-child(even) {
    background-color: #f5f5f5; /* Màu nền cho dòng chẵn */
}

.custom-table .ant-table-tbody > tr:nth-child(odd) {
    background-color: #ffffff; /* Màu nền cho dòng lẻ */
}
